@import "../../global.scss";
.techSkills {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include superSmall {
    flex-wrap: wrap;
    justify-content: start;
    margin: 100;
  }

  h1 {
    color: black;
    margin: 10px;
    font-size: 60px;

    @include mobile {
      font-size: 20px;
    }

    @include superSmall {
      margin: 0;
      font-size: 10px;
    }
  }
  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include superSmall {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.5s ease;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 300px;
      height: 200px;
      border-radius: 20px;
      border: 1px solid rgb(63, 75, 87);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;

      @include mobile {
        margin: 10px, 0;
        width: 130px;
        height: 100px;
      }

      @include superSmall {
        margin: 5px;
        width: 100px;
        height: 70px;
      }

      h3 {
        position: absolute;
        font-size: 20px;

        @include mobile {
          font-size: 12px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        z-index: 1;
      }
      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
        }
      }
    }
  }
}
