@import "../../global.scss";
.intro {
  // background-image: url(../../assets/intro-bg.jpg);
  // background-repeat: no-repeat;
  background-color: white;
  //background-size: cover;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  @include responsive {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    @include responsive {
      flex: 0.8;
    }

    .imageContainer {
      width: 700px;
      height: 700px;
      background-color: $imageHolderColor;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      @include mobile {
        align-items: flex-start;
      }

      @include responsive {
        align-items: flex-start;
      }
    }

    img {
      height: 100%;

      @include mobile {
        height: 59.5%;
        position: absolute;
        border-radius: 50%;
      }
    }
  }

  .right {
    flex: 0.5;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }

        @include superSmall {
          font-size: 20px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 35px;
        @include mobile {
          font-size: 20px;
        }

        @include superSmall {
          font-size: 17px;
        }

        span {
          font-size: inherit;
          color: $imageHolderColor;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 50%;

      @include mobile {
        left: 47%;
      }

      img {
        width: 30px;
        animation: arrowBlink 0.5s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
