.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    &::-webkit-scrollbar {
      display: none;
    }

    .intro {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
    .techSkills {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }

    .workexperiences {
      width: 100vw;
      height: calc(175vh - 70px);
      scroll-snap-align: start;
    }
    .testimonials {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
    .contact {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
