$mainColor: #e76a47;

$normalColor: white;

$introbackground: white;
$typetextcolor: #f52955;

$topBarTextColor: #e76a47;

$lightTextColor: white;

$darkTextColor: White;

$menuTextColor: white;

$imageHolderColor: #f52955;

$mobileWidth: 768px;
$responsiveWidth: 1024px;
$superSmall: 320px;

@mixin responsive {
  @media (max-width: $responsiveWidth) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobileWidth) {
    @content;
  }
}

@mixin superSmall {
  @media (max-width: $superSmall) {
    @content;
  }
}
