$mainColor: #1769aa;

$normalColor: rgb(112, 96, 96);
$topBarTextColor: white;
$menuTextColor: white;

$imageHolderColor: #63a7db;

$mobileWidth: 768px;
$responsiveWidth: 1024px;
$superSmall: 320px;

@mixin responsive {
  @media (max-width: $responsiveWidth) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobileWidth) {
    @content;
  }
}

@mixin superSmall {
  @media (max-width: $superSmall) {
    @content;
  }
}
