@import "../../global.scss";

.technicalList {
  font-size: 25px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;

  @include mobile {
    font-size: 18px;
    margin-right: 25px;
  }

  @include superSmall {
    font-size: 12px;
    margin-right: 18px;
  }

  &.active {
    background-color: $mainColor;
    padding: 7px;
    color: white;
    border-radius: 10px;
  }
}
